doctype html 
html 
  head 
    style
        include ../styles/certification.css
body
  if form.reports.status == "rejected"
    h1(class="rejected") REJECTED

  header(class=`${form.reports.status !== "rejected" ? '' : 'blurred'}`)
    div(class="header-info")
      p(class="header-info-p1") LEYTE NORMAL UNIVERSITY
      p(class="header-info-p2") Tacloban City
      p(class="header-info-p3") OFFICE OF THE CHIEF ADMINISTRATION OFFICER 
  div(class=`${form.reports.status !== "rejected" ? 'main' : 'main blurred'}`)
    h4(class="subject") REQUEST FOR RECORDS AND CERTIFICATION
    div(class="container-1")
      span(class="item-1") Date:
      span(class="item-2")=form.date
    p(class="note") TO ACCOUNTING SECTION
  div(class=`${form.reports.status !== "rejected" ? 'request container' : 'request container blurred'}`)
    span(class="title") Request for:
    div(class="items-container")
      each item in ["Not Take Home Pay", "Loan Remittances/Payments", "Annual Gross Income"]
        div(class="items")
            input(checked=item === form.options.request_for.accounting type="checkbox" class="checkbox") 
            span(class="item")=item 
      div(class="items")
        input(checked=["Not Take Home Pay", "Loan Remittances/Payments", "Annual Gross Income"].indexOf(form.options.request_for.accounting) === -1 type="checkbox" class="checkbox") 
        span(class="item") Others (pls. specify) 
        span(class="custom")=["Not Take Home Pay", "Loan Remittances/Payments", "Annual Gross Income"].indexOf(form.options.request_for.accounting) === -1 ? form.options.request_for.accounting : null

    div(class="items-container")
      p(class="subtitle") HRM/RECORDS OFFICE
      each item in ["Service Records", "Leave Credits/Balance", "No Pending Administrative Case", "Employment Certificate"]
        div(class="items")
          input(checked=item === form.options.request_for.records type="checkbox" class="checkbox") 
          span(class="item")=item 
      div(class="items")
        input(checked=["Service Records", "Leave Credits/Balance", "No Pending Administrative Case", "Employment Certificate"].indexOf(form.options.request_for.records) === -1 type="checkbox" class="checkbox") 
        span(class="item") Others (pls. specify) 
        span(class="custom")=["Service Records", "Leave Credits/Balance", "No Pending Administrative Case", "Employment Certificate"].indexOf(form.options.request_for.records) === -1 ? form.options.request_for.records : null

    span(class="title") Purpose: 
    div(class="items-container")
     div(class="items")
      input(checked=["DBP", "GSIS", "LBP", "HDMF"].indexOf(form.options.purpose) !== -1 type="checkbox" class="checkbox") 
      span(class="item") Loan
      div(class="bank-container")
        each bank in ["DBP", "GSIS", "LBP", "HDMF"]
          input(checked=form.options.purpose === bank type="checkbox" class="checkbox bank-checkbox") 
          span(class="item bank-text")=bank
     each item in ["Travel Abroad", "Employment", "Updates"]
      div(class="items")
        input(checked=item === form.options.purpose type="checkbox" class="checkbox") 
        span(class="item")=item
     div(class="items")
      input(checked=["Travel Abroad", "Employment", "Updates", "DPB", "GSIS", "LBP", "HDMF"].indexOf(form.options.purpose) === -1 type="checkbox" class="checkbox") 
      span(class="item") Others (pls. specify) 
      span(class="custom")=["Travel Abroad", "Employment", "Updates", "DPB", "GSIS", "LBP", "HDMF"].indexOf(form.options.purpose) === -1 ? form.options.purpose : null

  div(class=`${form.reports.status !== "rejected" ? 'recipients' : 'recipients blurred'}`)
    div(class="signature")
      span(class="prefix") Requested by:
      p(class="user-name")=form.user.profile
      p(class="admin-dept-title") (Signature Over Printed Name)
      if !form.hideSignatures
        | !{form.user.signature}
    if form.options.co_makers[0]
      div(class="signature")
        span(class="prefix") Co Maker:
        span(class="co-maker")=form.options.co_makers.join(",")
    div(class="signature")
      span(class="prefix") Approved by:
      p(class="admin-dept")=form.admin.profile
      p(class="admin-dept-title") Chief Administrative Officer-Admin
      if !form.hideSignatures
        | !{form.admin.signature}
    if form.service_provider.staff_id
      div(class="signature")
        span(class="prefix") Job done by:
        p(class="dept-head")=form.service_provider.profile
        p(class="dept-head-title")=form.service_provider.department
        if !form.hideSignatures
          | !{form.service_provider.signature}

    

