doctype html 
html 
  head 
    style
        include ../styles/certification.css
body
  header
    div(class="header-info")
      p(class="header-info-p1") LEYTE NORMAL UNIVERSITY
      p(class="header-info-p2") Tacloban City
      p(class="header-info-p3") OFFICE OF THE CHIEF ADMINISTRATION OFFICER 
  div(class="main")
    h4(class="subject") REQUEST FOR RECORDS AND CERTIFICATION
    div(class="container-1")
      span(class="item-1") Date:
      span(class="item-2")=form.date
    p(class="note") TO ACCOUNTING SECTION
  div(class="request container")
    span(class="title") Request for:
    div(class="items-container")
      each item in ["Not Take Home Pay", "Loan Remittances/Payments", "Annual Gross Income"]
        div(class="items")
            input(checked=item === form.options.request_for.accounting type="checkbox" class="checkbox") 
            span(class="item")=item 
      div(class="items")
        input(checked=["Not Take Home Pay", "Loan Remittances/Payments", "Annual Gross Income"].indexOf(form.options.request_for.accounting) === -1 type="checkbox" class="checkbox") 
        span(class="item") Others (pls. specify) 
        span(class="custom")=["Not Take Home Pay", "Loan Remittances/Payments", "Annual Gross Income"].indexOf(form.options.request_for.accounting) === -1 ? form.options.request_for.accounting : null

    div(class="items-container")
      p(class="subtitle") HRM/RECORDS OFFICE
      each item in ["Service Records", "Leave Credits/Balance", "No Pending Administrative Case", "Employment Certificate"]
        div(class="items")
          input(checked=item === form.options.request_for.records type="checkbox" class="checkbox") 
          span(class="item")=item 
      div(class="items")
        input(checked=["Service Records", "Leave Credits/Balance", "No Pending Administrative Case", "Employment Certificate"].indexOf(form.options.request_for.records) === -1 type="checkbox" class="checkbox") 
        span(class="item") Others (pls. specify) 
        span(class="custom")=["Service Records", "Leave Credits/Balance", "No Pending Administrative Case", "Employment Certificate"].indexOf(form.options.request_for.records) === -1 ? form.options.request_for.records : null

    span(class="title") Purpose: 
    div(class="items-container")
     div(class="items")
      input(checked=["DBP", "GSIS", "LBP", "HDMF"].indexOf(form.options.purpose) !== -1 "type="checkbox" class="checkbox") 
      span(class="item") LOAN
      each item in ["Travel Abroad", "Employment", "Updates"]
        div(class="items")
          input(checked=item === form.options.purpose type="checkbox" class="checkbox") 
          span(class="item")=item
      div(class="items")
        input(checked=["Travel Abroad", "Employment", "Updates"].indexOf(form.options.purpose) === -1 type="checkbox" class="checkbox") 
        span(class="item") Others (pls. specify) 
        span(class="custom")=["Travel Abroad", "Employment", "Updates", "DPB", "GSIS", "LBP", "HDMF"].indexOf(form.options.purpose) === -1 ? form.options.purpose : null

  div(class="recipients")
    div(class="signature")
      span(class="prefix") Requested by:
      p(class="user-name")=form.user.profile
      p(class="admin-dept-title") (Signature Over Printed Name)
    | !{form.user.signature}
    div(class="signature")
      span(class="prefix") Approved by:
      p(class="admin-dept")=form.admin.profile
      p(class="admin-dept-title") Chief Administrative Officer-Admin
    | !{form.admin.signature}
    if form.service_provider.staff_id
      div(class="signature")
        span(class="prefix") Job done by:
        p(class="dept-head")=form.service_provider.profile
        p(class="dept-head-title")=form.service_provider.department
      | !{form.service_provider.signature}

    

