doctype html 
html 
  head 
    style
        include ../styles/mailing.css
body
  header
    div(class="header-info")
      p(class="header-info-p1") Leyte Normal University
      p(class="header-info-p2") Tacloban City
      p(class="header-info-p3") OFFICE OF THE ADMINISTRATIVE OFFICER
  div(class="main")
    span(class="date")=`DATE: ${form.date}`
    h4(class="subject") REQUEST FOR MAILING
      span(class="prefix") PURPOSE / Re: Subject:
      | !{form.body}
  div(class="recipients")
    div(class="signature")
      span(class="prefix") Requested by:
      p(class="user-name")=form.user.profile
      p(class="admin-dept-title")=form.user.department
    | !{form.user.signature}
    if form.service_provider.staff_id
      div(class="signature")
        span(class="prefix") Job done by:
        p(class="dept-head")=form.service_provider.profile
        p(class="dept-head-title")=form.service_provider.department
      | !{form.service_provider.signature}
    div(class="signature")
      span(class="prefix") Approved by:
      p(class="admin-dept")=form.admin.profile
      p(class="admin-dept-title") Chief Administrative Officer-Admin
    | !{form.admin.signature}

    

