doctype html 
html 
  head 
    style
        include ../styles/mailing.css
body
  header
    div(class="header-info")
      p(class="header-info-p1") Republic of the Philippines
      p(class="header-info-p3") LEYTE NORMAL UNIVERSITY
      p(class="header-info-p2") Tacloban City
  div(class="main")
    p(class="date")=`Date: ${form.date}`
    p(class="records") Records 
    p(class="form") Form #01 
    h4(class="subject") REQUEST FOR MAILING
    div(class="checkboxes-container-1")
      input(checked = form.options.postal === "JRS" type="checkbox" class="checkbox")
      span(class="checkbox-label") JRS
      input(checked = form.options.postal === "PPC" type="checkbox" class="checkbox")
      span(class="checkbox-label-2") PPC
      small(class="info-label") (Phil. Postal Corp.)
    div(class="mail-recipient")
      span(class="prefix") Mail to:
      span(class="recipient")=form.options.recipient
    div(class="mail-sender")
      span(class="prefix") From:
      span(class="sender")=form.user.profile
    div(class="request-body")
      span(class="prefix") PURPOSE / Re: Subject:
      | !{form.body}
  div(class="recipients")
    div(class="signature")
      span(class="prefix") Requested by:
      p(class="user-name")=form.user.profile
      p(class="admin-dept-title") (Print Name & Signature)
    | !{form.user.signature}
    if form.service_provider.staff_id
      div(class="signature")
        span(class="prefix") Job done by:
        p(class="dept-head")=form.service_provider.profile
        p(class="dept-head-title")=form.service_provider.department
        if !form.hideSignatures
          | !{form.service_provider.signature}
    div(class="signature")
      span(class="prefix") Approved by:
      p(class="admin-dept")=form.admin.profile
      p(class="admin-dept-title") Chief Administrative Officer-Admin
      if !form.hideSignatures
        | !{form.admin.signature}
  div(class="footer")
    div(class="post-container")
      span(class="post-prefix") PPC:
      each type in ["Mailing Envelope", "Brown Envelope", "Box"]
        input(checked = form.options.type === type type="checkbox" class="checkbox")
        span(class="checkbox-label")=type
    div(class="post-container")
      span(class="post-prefix") JRS:
      each type in ["Registered", "Speed", "Priority", "International"]
        input(checked = form.options.type === type type="checkbox" class="checkbox")
        span(class="checkbox-label")=type
    div(class="released-container")
      p(class="released")=`Released by: ${form.options.released_by}`
      p(class="released")=`Released date: ${form.options.released_date}`
      

    

