doctype html 
html 
  head 
    style
        include ./styles/template1.css
body
  header
    img(class="university-logo" src="https://upload.wikimedia.org/wikipedia/en/1/17/LNUTaclobanLogo.jpg")
    div(class="header-info")
      p(class="header-info-p1") Republic of the Philippines
      p(class="header-info-p2") LEYTE NORMAL UNIVERSITY
      p(class="header-info-p3") P. Paterno St., Tacloban City 
  div(class="main")
    h3(class="subject")=form.subject
    p(class="service-type")="Service type: " + form.service_type
    p(class="date")="Date sent: " + form.date
    div(class="body")
    | !{form.body}
  div(class="recipients")
  if form.head.staff_id != ""
    div(class="signature")
      p(class="dept-head")=form.head.profile
      p(class="dept-head-title")=form.head.department
    | !{form.head.signature}
  if form.head.staff_id == "" || form.head.staff_id != ""
    div(class="signature")
      p(class="admin-dept")=form.admin.profile
      p(class="admin-dept-title") Chief Administration Office
    | !{form.admin.signature}
    div(class="signature")
      p(class="user-name")=form.user.profile
      p(class="admin-dept-title")=form.user.department
    | !{form.user.signature}

    

