doctype html 
html 
  head 
    style
      include ../styles/passslip.css
body
  if form.reports.status == "rejected"
    h1(class="rejected") REJECTED
  header(class=`${form.reports.status !== "rejected" ? '' : 'blurred'}`)
    img(class="university-logo" src="https://www.lnu.edu.ph/images/logo.png")
    div(class="header-info")
      p(class="header-info-p1") Republic of the Philippines
      p(class="header-info-p2") LEYTE NORMAL UNIVERSITY
      p(class="header-info-p3") Tacloban City 
  div(class=`${form.reports.status !== "rejected" ? 'main' : 'main blurred'}`)
    h4(class="subject") PASS SLIP
    p(class="date")=`DATE: ${form.date}`
    div(class="name-container")
      span(class="prefix") NAME:
      span(class="name")=form.user.profile
    div(class="timeout-container")
      span(class="prefix") TIMEOUT:
      span(class="timeout")=`${form.options.date} ${form.options.timeout}`
    div(class="request-body")
      span(class="prefix") PURPOSE:
      span(class="prefix-body")=form.body
  div(class=`${form.reports.status !== "rejected" ? 'recipients' : 'recipients blurred'}`)
    div(class="signature user-signee")
      p(class="user-name")=form.user.profile
      p(class="admin-dept-title") (Signature over Printed Name)
      if !form.hideSignatures
        | !{form.user.signature}
    div(class="signature")
      span(class="fixer") Approved by:
      p(class="admin-dept")=form.admin.profile
      p(class="admin-dept-title") Chief Administrative Officer-Admin
      if !form.hideSignatures
        | !{form.admin.signature}
