doctype html 
html 
  head 
    style
      include ../styles/requestforservices.css
body
  if form.reports.status == "rejected"
    h1(class="rejected") REJECTED
  header(class=`${form.reports.status !== "rejected" ? '' : 'blurred'}`)
    div(class="header-info")
      p(class="header-info-p1") Leyte Normal University
      p(class="header-info-p2") Tacloban City
      p(class="header-info-p3") OFFICE OF THE ADMINISTRATIVE OFFICER
  div(class=`${form.reports.status !== "rejected" ? 'main' : 'main blurred'}`)
    h4(class="subject") REQUEST FOR SERVICES
    p(class="date")=`DATE: ${form.date}`
    div(class="request-type")
      span(class="prefix") REQUEST FOR:
      div(class="type")
      each type in ["Carpenter", "Plumber", "Electrician", "Janitor/s"]
        div(class="type-form")
          input(checked = form.options.type === type type="checkbox" class="checkbox")
          span(class="checkbox-label")=type
      div(class="type-form")
        input(checked = ["Carpenter", "Plumber", "Electrician", "Janitor/s"].indexOf(form.options.type) === -1 type="checkbox" class="checkbox")
        span(class="checkbox-label") Others (pls. specify) 
        if ["Carpenter", "Plumber", "Electrician", "Janitor/s"].indexOf(form.options.type) === -1
          span(class="other-type-label")=form.options.type 
    //- if form.options.persons_involved[0]
    //-   div(class="persons-involved")
    //-     span(class="prefix") Name of person/s involved:
    //-     each person in form.options.persons_involved
    //-       p(class="involved")=person
    div(class="request-body")
      span(class="prefix") PURPOSE:
      span(class="prefix-body")=form.body
  div(class=`${form.reports.status !== "rejected" ? 'recipients' : 'recipients blurred'}`)
    div(class="signature")
      span(class="fixer") Requested by:
      p(class="user-name")=form.user.profile
      p(class="admin-dept-title") Signature Over Printed Name
      if !form.hideSignatures
        | !{form.user.signature}
    div(class="signature")
      span(class="fixer") Approved by:
      p(class="admin-dept")=form.admin.profile
      p(class="admin-dept-title") Chief Administrative Officer-Admin
      if!form.hideSignatures
        | !{form.admin.signature}



