doctype html 
html 
  head 
    style
        include ../styles/risograph.css
body
  header
    div(class="header-info")
      p(class="header-info-p1") LEYTE NORMAL UNIVERSITY
      p(class="header-info-p2") Tacloban City
      p(class="header-info-p3") OFFICE OF THE CHIEF ADMINISTRATION OFFICE for ADMINISTRATION
  div(class="main")
    h4(class="subject") JOB ORDER FOR RISOGRAPH
    div(class="container-1")
      span(class="item-1") To: Reproducntion Center
      span(class="item-2") Date:
      span(class="item-3")=form.date
    div(class="request-body")
      span(class="prefix") PURPOSE:
      | !{form.body}
  div(class="recipients")
    div(class="signature")
      span(class="prefix") Requested by:
      p(class="user-name")=form.user.profile
      p(class="admin-dept-title") (Print Name & Signature)
    | !{form.user.signature}
    div(class="signature")
      span(class="prefix") Approved by:
      p(class="admin-dept")=form.admin.profile
      p(class="admin-dept-title") Chief Administrative Officer-Admin
    | !{form.admin.signature}
    if form.service_provider.staff_id
      div(class="signature")
        span(class="prefix") Job done by:
        p(class="dept-head")=form.service_provider.profile
        p(class="dept-head-title")=form.service_provider.department
      | !{form.service_provider.signature}

    

